
<%= image_tag("headstarter_welcome.jpg") %>


<div id = "welcome">

<div class= "welcometext">
<p id="brandname">Head<span class="starter">starter</span><p>
<br>

<p id ="focuslearning"> Focussed Learning <p>
<h4> Empowering communities with accessible & collaborative enrichment knowledge. </h4>

</div>

  <div class="welcomebutton">


<p id="buttontext"><button type="button" class="btn btn-primary">
<% if user_signed_in? %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete, :id=> "buttontext") %>
<% else %>
<%= link_to('Login', new_user_session_path, :id=> "buttontext")  %>
<% end %>
</button><p>


<p id="buttontext"> <button type="button" class="btn btn-primary">  <%= link_to "Sign Up", new_user_registration_path, :id=> "buttontext" %></button><p>


   </div>
</div>
