// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome {
 position:absolute;
  //  left: 0;
   top: 40%;
   width: 100%;
   text-align: center;
}

#brandname {
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color:#317EAC;
  position:fixed;
  left: 40px;
  top: 30px;
}

  .starter {
    color: #313131;
  }

#focuslearning {
  font-size: 50px;
  color: #313131;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.welcometext {
  color:white;
  position: relative;
  bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  opacity: 0.6;
}

// .btn-default {
//   width: 150px;
//   padding: 10px;
//   margin: 5px;
// }

.btn-primary {
  width: 150px;
  padding: 10px;
  margin: 5px;
}

#buttontext {
    color: white;
    font-size: 20px;
  }

.input-group {
width: 10%;
}


.welcomebutton {
  display: flex;
  justify-content: center;
}

.registration {
 text-align: center;
}


.pageheader {
  text-align: center;
}

.questionslisting {
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

.questiontitle {
  font-size: 21px;
  color: #317EAC;
}

// .solvebox {
//   align-content: center;
//   text-align: center;
// }

.challenger {
  padding: 30px;
}

#votes {
  margin: 5px;
  display: flex;
}

.votespace {
  margin: 5px;
}

.container {
  margin: 0,auto;
}
